
<html lang="en">

<head>
   
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    <title></title>
    <style>
        header {
            background-color: #00355d;
        }
        
        .head_img {
            border: 1px solid #fff;
            width: 99%;
            height: 184px;
            margin: 5px 5px;
        }
        
        table {
            background-color: #f2f2f2;
            border: 0;
            width: 100%;
        }
        
        td {
            text-align: center;
            padding-top: 20px;
            border: 1px solid #fff;
            border-width: 0px 1px 0;
        }
        
        p {
            font: bold 16px Tahoma;
            color: #222;
            padding: 0 10px 0;
        }
    </style>
</head>

<body>
    <header>
        <img src="./target.png" class="head_img">
    </header>
    <section>

        <table cellpadding="0" cellspacing="0" style="padding-bottom:15px" width="100%">
            <tbody>
                <tr>
                    <td style="background-color: #fff;text-align: left;" valign="top">
                        <p>Hi</p>

                        <p>History:</p>

                        <p> <%= HISTORY %></p>

                        <p>Physical Examination :</p>

                        <p><%= PHYSICAL %></p>

                        <p>DATA INTERPRETATION:</p>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style=" display: block;
                    margin-bottom: 20px;
                    border: 1px solid #fff;
                    border-width: 1px;">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="50%" colspan="2" valign="top" style="text-align:left;background-color:#4bacc6;font:bold 15px Tahoma;color:#fff;padding:5px 0;text-decoration:none">
                                        <p>Diagnosis # 1</p>
                                    </td>
									<td width="50%" valign="top" style="text-align:left;background-color:#4bacc6;font:bold 15px Tahoma;color:#fff;padding:5px 0;text-decoration:none">
										<p><%= DIAGNOSIS %> </p>
									</td>
                                </tr>
                                <tr>
                                    <td colspan="3" valign="top" style="background-color:#fff;text-align:left;padding:0 10px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>&nbsp;</p>
                                    </td>
                                    <td width="40%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>History</p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px;border-bottom:2px solid #fff">
                                        <p>PE</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>1</p>
                                    </td>
                                    <td width="45%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p><%= HISF1 %></p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px;border-bottom:2px solid #fff">
                                        <p><%= PHYF1 %></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>2</p>
                                    </td>
                                    <td width="45%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p><%= HISF2 %></p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px;border-bottom:2px solid #fff">
                                        <p><%= PHYF2 %></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>3</p>
                                    </td>
                                    <td width="45%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p><%= HISF3 %></p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px;border-bottom:2px solid #fff">
                                        <p><%= PHYF3 %></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" class="dInterpretation" style="text-align:center;display:block;margin-bottom:20px;border:1px solid #000;border-width:1px">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="50%" colspan="2" valign="top" style="background-color:#8064a2;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 0 5px 10px">
                                        <p>Diagnosis #2</p>
                                    </td>
									<td width="50%" valign="top" style="background-color:#8064a2;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 0;text-decoration:none">
										<p><%= DIAGNOSIS2 %> </p>
									</td>
                                </tr>
                                <tr>
                                    <td colspan="3" valign="top" style="background-color:#fff;text-align:left;padding:0 10px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#8064a2;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p>&nbsp;</p>
                                    </td>
                                    <td width="40%" valign="top" style="background-color:#8064a2;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p>History</p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#8064a2;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px;border-bottom:1px solid #000">
                                        <p>PE</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#8064a2;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p>1</p>
                                    </td>
                                    <td width="45%" valign="top" style="background-color:#d8d8d8;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p><%= HISF2_1 %></p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#d8d8d8;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px;border-bottom:1px solid #000">
                                        <p><%= PHYF2_1 %></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#8064a2;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p>2</p>
                                    </td>
                                    <td width="45%" valign="top" style="background-color:#d8d8d8;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p><%= HISF2_2 %></p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#d8d8d8;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px;border-bottom:1px solid #000">
                                        <p><%= PHYF2_2 %></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#8064a2;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p>3</p>
                                    </td>
                                    <td width="45%" valign="top" style="background-color:#d8d8d8;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p><%= HISF2_3 %></p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#d8d8d8;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px;border-bottom:1px solid #000">
                                        <p><%= PHYF2_3 %> </p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="text-align:center;display:block;margin-bottom:20px;border:1px solid #fff;border-width:1px">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="50%" colspan="2" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 0 5px 10px">
                                        <p>Diagnosis # 3</p>
                                    </td>
									<td width="50%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 0;text-decoration:none">
									<p><%= DIAGNOSIS3 %></p>
									</td>
                                </tr>
                                <tr>
                                    <td colspan="3" valign="top" style="background-color:#fff;text-align:left;padding:0 10px">&nbsp;</td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>&nbsp;</p>
                                    </td>
                                    <td width="40%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>History</p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px;border-bottom:2px solid #fff">
                                        <p>PE</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>1</p>
                                    </td>
                                    <td width="45%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p><%= HISF3_1 %></p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px;border-bottom:2px solid #fff">
                                        <p><%= PHYF3_1 %></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>2</p>
                                    </td>
                                    <td width="45%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p><%= HISF3_2 %></p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px;border-bottom:2px solid #fff">
                                        <p><%= PHYF3_2 %></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#4bacc6;text-align:left;font:bold 15px Tahoma;color:#fff;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p>3</p>
                                    </td>
                                    <td width="45%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:3px solid #fff;border-bottom:2px solid #fff">
                                        <p><%= HISF3_3 %></p>
                                    </td>
                                    <td width="50%" valign="top" style="background-color:#a5d5e2;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px;border-bottom:2px solid #fff">
                                        <p><%= PHYF3_3 %></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td valign="top" style="text-align:center;display:block;margin-bottom:0;border:1px solid #000;border-width:1px">
                        <table width="100%" cellspacing="0" cellpadding="0">
                            <tbody>
                                <tr>
                                    <td width="100%" colspan="2" valign="top" style="background-color:#a6a6a6;text-align:left;font:bold 15px Tahoma;color:#000;padding:5px 0 5px 10px;border-bottom:1px solid #000">
                                        <p>Diagnostic Study/Studies</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#eeece1;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p>1</p>
                                    </td>
                                    <td width="95%" valign="top" style="background-color:#eeece1;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-bottom:1px solid #000">
                                        <p><%= DIAGSTUDY1 %></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#eeece1;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p>2</p>
                                    </td>
                                    <td width="95%" valign="top" style="background-color:#eeece1;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-bottom:1px solid #000">
                                        <p><%= DIAGSTUDY2 %></p>
                                    </td>
                                </tr>
                                <tr>
                                    <td width="5%" valign="top" style="background-color:#eeece1;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-right:1px solid #000;border-bottom:1px solid #000">
                                        <p>3</p>
                                    </td>
                                    <td width="95%" valign="top" style="background-color:#eeece1;text-align:left;font:normal 15px Tahoma;color:#000;padding:5px 10px 5px;border-bottom:1px solid #000">
                                        <p><%= DIAGSTUDY3 %></p>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>

            </tbody>
        </table>
        </td>
        </tr>
        </tbody>
        </table>


    </section>
    <footer>
        <table>
            <tbody>
                <tr>
                    <td valign="top" style="text-align:center;border-bottom:5px solid #00355d">&nbsp;</td>
                </tr>
                <tr>
                    <td>
                        <p>&nbsp;</p>

                        <p style="font:normal 16px/24px Tahoma;color:#222;padding:0 10px 0">Thanks &amp; Regards,</p>

                        <p style="font:bold 16px Tahoma;color:#222;padding:0 10px 0">Target USMLE</p>
                    </td>
                </tr>
                </tr>
                <tr>
                    <td style="text-align:center;border-bottom:5px solid #00355d" valign="top">&nbsp;</td>
                </tr>
            </tbody>
        </table>
    </footer>

</body>

</html>